.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.place__link:hover {
  opacity: .8;
}
