.header__lang-links {
  max-width: 77px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    max-width: 62px;
  }
}
